/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
  font-family: 'Avenir LT Std';
  font-weight: normal;
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2');
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* colors */
  --color-green: #22ce99;
  --color-green-light: #6cd1b2;
  --color-green-dark: #25af85;
  --color-black: #111111;
  --color-grey: #282829;
  --global-color-green-x-transparent: #22ce994d;

  /* Global colors */
  --global-color-neutral-xxx-light: #e2e3e7;
  --global-color-neutral-xx-light: #caccd4;
  --global-color-neutral-x-light: #b5b6c0;
  --global-color-error: #ff3333;
  --global-color-error-x-transparent: #ff33334d;
  --color-grey-green: #b2c6c0;

  /* forms */
  --global-text-color: var(--color-grey);
  --global-button-color: var(--color-green);
  --global-button-text-color: var(--color-black);
  --global-image-color: var(--color-green);
  --global-button-color-hover: var(--color-green-light);
  --global-button-color-active: var(--color-green-dark);

  --global-disabled-button-color: var(--color-grey-green);

  /* border radius */
  --global-borderRadius: var(--global-whitespace-xl);
  --global-borderWidth: 1px;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) * 0.5); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-m: calc(var(--global-baseline) * 3); /*  = 24px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* transitions */
  --global-transitionEasing-out: ease-out;
  --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
  --global-transitionDuration-alpha: 0.1s;
  --global-transitionDuration-beta: 0.2s;
  --global-transitionDuration-gamma: 0.3s;

  /* forms */
  --global-label-color: var(--color-grey);
  --global-placeholder-color: var(--global-color-neutral-x-light);
  --global-input-backgroundColor: White;
  --global-input-color: var(--color-black);
  --global-input-borderColor: var(--global-color-neutral-xxx-light);
  --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
  --global-input-focus-borderColor: var(--color-green);
  --global-input-error-borderColor: var(--global-color-error);
  --global-input-focus-boxShadowSpread: 0 0 0 3px;
  --global-input-focus-boxShadowColor: var(--global-color-green-x-transparent);
  --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  /* POSITIONING */

  /* BOX MODEL */
  box-sizing: border-box;

  /* FONT */
  color: var(--global-text-color);
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Avenir LT Std', 'Open Sans', Helvetica, arial, sans-serif;
  font-feature-settings: 'zero' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#afspraak {
  background-color: var(--color-green);
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 0 var(--global-whitespace-m);
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2.5rem;
  margin: 0 0 var(--global-whitespace-m);
}

h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 0 0 var(--global-whitespace-m);
}

a {
  color: var(--global-text-color);
  text-decoration: none;
}

p {
  color: var(--global-text-color);
}

label,
input,
textarea,
select {
  display: block;
  width: 100%;
}

select {
  width: 100%;
}

body {
  min-height: 100vh;
  padding: var(--global-whitespace-base);
  display: grid;
  place-items: center;
  background-color: var(--global-page-backgroundColor);
}

fieldset {
  border: none;
  padding: var(--global-whitespace-sm);
}

.o-row {
  position: relative;
  padding: var(--global-whitespace-md) var(--global-whitespace-md) var(--global-baseline);
}

.o-row--login {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
  width: 100%;
}

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.c-card {
  padding: var(--global-whitespace-lg);
  border-radius: 4px;
  border: 1px solid var(--color-green-light);
  box-shadow: 1px 2px 4px 4px var(--color-green-dark);
  background-color: #ffffff;
}

.c-card__item {
  margin: 0;
}

.c-card__date {
  display: flex;
}

.c-card__datum {
  width: 45%;
}
.c-card__uur {
  margin-left: 28px;
  width: 40%;
}

.c-app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2 * 1rem);
  box-sizing: content-box;
  max-width: 25rem;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem; /* 32px 32px (in onze huidige font-size) */
}

.c-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  line-height: 1rem;
}

.c-logo {
  padding-left: var(--global-baseline);
}

.c-help {
  padding-right: var(--global-baseline);
  padding-left: var(--global-whitespace-xxl);
  width: 2.5rem;
}

.c-page {
  display: block;
  align-items: center;
  padding-top: var(--global-whitespace-xxl);
}

.c-robot {
  display: block;
  fill: var(--global-image-color);
  margin: auto;
  max-height: 17.5rem;
}

.c-robot__shadow {
  --color-shadow: var(--color-black);
  fill: var(--color-shadow);
  opacity: 0.1;
}

.c-robot__admin {
  --color-robot: var(--color-green);
  margin: auto;
  max-width: 18.7rem;
  fill: var(--color-robot);
}

@media (min-height: 35.6rem) {
  .c-robot {
    max-height: 22.5rem;
  }
}

@media (min-height: 41.8rem) {
  .c-robot {
    max-height: 25rem;
  }

  .c-robot__admin {
    max-width: 21.8rem;
  }
}

.c-qrcode {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--global-whitespace-lg) * 2);
}

.c-button-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.c-btn {
  display: flex;
  justify-content: center;
}

.c-button {
  margin-top: var(--global-whitespace-m);
  font-size: 2rem;
  border-radius: var(--global-borderRadius);
  border: none;
  background-color: var(--global-button-color);
  color: var(--global-button-text-color);
  min-width: 17rem;
  min-height: 4rem;
  outline: none;
  cursor: pointer;
}

.c-button__addafspraak {
  font-size: 1.5rem;
  min-width: 18rem;
  min-height: 4rem;
}

.c-button:hover {
  background-color: var(--global-button-color-hover);
}

.c-button:active {
  background-color: var(--global-button-color-active);
}
.c-button:disabled {
  background-color: var(--global-disabled-button-color);
  cursor: auto;
}

.c-button-hulp {
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.c-buttons {
  display: flex;
  justify-content: space-between;
}

.c-bottommargin {
  margin-bottom: var(--global-whitespace-xxl);
}

.c-done {
  display: block;
  margin: auto;
  fill: var(--global-image-color);
}

.c-error {
  display: block;
  margin: auto;
  width: 15rem;
  height: 15rem;
}

.c-call {
  font-size: 2rem;
  border-radius: var(--global-borderRadius);
  border: none;
  background-color: var(--global-button-color);
  color: var(--global-button-text-color);
  min-width: 15rem;
  min-height: 7rem;
  outline: none;
  cursor: pointer;
}

.c-message {
  max-width: 12rem;
  padding: var(--global-whitespace-sm);
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
}

.c-map {
  margin: var(--global-whitespace-md);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-height: 41.8rem) {
  .c-message {
    max-width: 30rem;
    font-size: 2rem;
  }
}

/* Afpraak form */
.c-form-field {
  display: inline-block;
  position: relative;
}

.c-afspraak {
  margin-top: var(--global-whitespace-lg);
}

/* .c-form__item label {
  display: inline-block;
  width: 100px;
}
.c-form__item input {
  display: inline-block;
  width: 200px;
} */

.c-label {
  margin-bottom: 0;
  font-size: 14px;
  padding-bottom: var(--global-whitespace-sm);
  line-height: calc(var(--global-baseline) * 2);
  color: var(--label-color, var(--global-label-color));
}

.c-label__error-message {
  font-weight: 600;
  float: right;
  display: none;
}

.c-label__error-message.is-visible {
  display: block;
}

.c-input {
  --input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 90%;
  border-radius: var(--input-borderRadius, var(--global-borderRadius));
  border: var(--input-borderWidth, var(--global-borderWidth)) solid var(--input-borderColor, var(--global-input-borderColor));
  background-color: var(--input-backgroundColor, var(--global-input-backgroundColor));
  color: var(--global-input-color);
  font-family: inherit;
  font-size: 1rem;
  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
  transition: var(--input-transition);
}

.c-input:hover {
  border-color: var(--input-hover-borderColor, var(--global-input-hover-borderColor));
}

.c-input:focus,
.c-input:active {
  border-color: var(--input-focus-borderColor, var(--global-input-focus-borderColor));
  box-shadow: var(--global-input-focus-boxShadowSpread) var(--input-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}

.c-button__afspraak {
  font-size: 1rem;
  min-width: 10rem;
  min-height: 3rem;
}

/*------------------------------------*\
#States
\*------------------------------------*/

.has-error {
  --label-color: var(--global-color-error);
  --input-color: var(--global-color-error);
  --input-placeholder-color: var(--global-color-error-transparent);
  --input-borderColor: var(--global-input-error-borderColor);
  --input-hover-borderColor: var(--global-input-error-borderColor);
  --input-focus-borderColor: var(--global-input-error-borderColor);
  --input-focus-boxShadowColor: var(--global-input-error-boxShadowColor);
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 32em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}
